.buttons{
    display: inline;
}
.adalert {
    padding: 20px;
    background-color: #008f5b;
    color: white;
    margin-bottom: 15px;
    border-radius: 0;
  }
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  .closebtn:hover {
    color: black;
  }
  .adalert button{
       background: none;
       border:none !important;
       outline: none !important;
       color: white;
  }